body {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
body b {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body header {
  position: relative;
  background-color: rgb(24, 24, 28);
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 70px;
}
body header #ListIcon {
  height: 30px;
  cursor: pointer;
  display: none;
}
body header b {
  color: white;
  font-weight: bold;
}
body header #L-D-Frame {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-evenly;
}
body header #L-D-Frame #main_logo_a #main_logo {
  max-height: 60px;
}
body header #L-D-Frame #line {
  background-color: rgb(48, 48, 52);
  height: 50px;
  width: 4px;
  border-radius: 2px;
}
body header #items {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
body header #items .item {
  color: white;
  padding: 1% 2%;
  border-radius: 8px;
  transition: background-color 0.5s, color 0.5s;
}
body header #items .item a {
  color: white;
}
body header #items .item:hover {
  background-color: white;
  color: black;
  padding: 1% 2%;
  border-radius: 8px;
}
body header #items .item:hover a {
  color: black;
}
body header #search input {
  padding: 15px;
  width: 300px;
  border-radius: 50px;
  background-color: rgb(32, 32, 32);
  border: 0px;
  color: white;
  letter-spacing: 1px;
}
body header #search input:focus {
  background-color: rgb(40, 40, 40);
  outline: 0px;
}
body header #SearchIcon_mobile {
  display: none;
}
body header #L-P-Frame {
  display: flex;
  flex-direction: row;
  width: 12%;
  justify-content: space-evenly;
  align-items: center;
}
body header #L-P-Frame #LanguageIcon {
  height: 25px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}
body header #L-P-Frame #LanguageIcon:hover {
  padding: 5px;
  background-color: rgb(100, 100, 100);
  border-radius: 50%;
  transition: 0.5s;
}
body header #L-P-Frame #ProfileIcon {
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}
body header #L-P-Frame #ProfileIcon:hover {
  background-color: rgb(100, 100, 100);
  transition: 0.5s;
  border-radius: 50%;
  padding: 5px;
}
body header #L-P-Frame #SearchIcon_mobile_frame #searchMobile {
  display: none;
}
body header #L-P-Frame #SearchIcon_mobile_frame #SearchIcon {
  cursor: pointer;
}
body #divsThatDoesNotShowUntilClick {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body #divsThatDoesNotShowUntilClick #profile {
  background-color: rgb(26, 26, 30);
  border-radius: 15px;
  width: 200px;
  height: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  float: right;
  opacity: 0;
  transition: 0.3s;
}
body #divsThatDoesNotShowUntilClick #profile #Registration {
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 15px;
  width: 180px;
  margin-bottom: 20px;
}
body #divsThatDoesNotShowUntilClick #profile #Registration:hover {
  background-color: rgb(50, 50, 50);
}
body #divsThatDoesNotShowUntilClick #profile #Log-in {
  width: 180px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(36, 36, 36);
}
body #divsThatDoesNotShowUntilClick #profile #Log-in:hover {
  background-color: rgb(50, 50, 50);
}
body #divsThatDoesNotShowUntilClick #profile div b {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 1024px) {
  body header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  body header #ListIcon {
    display: flex;
    margin-left: 3%;
  }
  body header #L-P-Frame {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-right: 3%;
  }
  body header #L-P-Frame #LanguageIcon {
    display: none;
  }
  body header #L-P-Frame #ProfileIcon {
    display: none;
  }
  body header #L-P-Frame #SearchIcon_mobile_frame {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  body header #L-P-Frame #SearchIcon_mobile_frame #searchMobile {
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(32, 32, 32);
    width: 100%;
    border: 0px;
    color: white;
    letter-spacing: 1px;
    display: none;
  }
  body header #L-P-Frame #SearchIcon_mobile_frame #SearchIcon_mobile {
    cursor: pointer;
  }
  body header #L-P-Frame img {
    margin: 5px;
  }
  body header #L-D-Frame {
    width: 128px;
    justify-content: center;
  }
  body header #L-D-Frame #main_logo_a #main_logo {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
  }
  body header #L-D-Frame #line {
    display: none;
  }
  body header #SearchIcon_mobile {
    align-items: center;
    display: flex;
    height: 30px;
    margin-right: 3%;
  }
  body header #items {
    display: none;
  }
  body header #search {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */