body{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


    b{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    header{
        position: relative;
        background-color: rgb(24, 24, 28);
        height: 9vh;
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 70px;

        #ListIcon{
            height: 30px;
            cursor: pointer;
            display: none;
            
        }

        b{
            color: white;
            font-weight: bold;
        }  
        #L-D-Frame{
            display: flex;
            align-items: center;
            width: 10%;
            justify-content: space-evenly;

            #main_logo_a{

                #main_logo{
                    max-height: 60px;
                }
            }
            #line{
                background-color: rgb(48, 48, 52,);
                height: 50px;
                width: 4px;
                border-radius: 2px;
            }
        }
       
        #items{
            width: 60%;
            display: flex;
            justify-content: space-around;
            
            
            .item{
                color: white;
                padding: 1% 2%;
                border-radius: 8px;
                transition: background-color 0.5s, color 0.5s;

                a{
                    color: white;
                }
            }

            .item:hover{
                background-color: white;
                color: black;
                padding: 1% 2%;
                border-radius: 8px;

                a{
                    color: black;
                }
            }
        }
        #search{
            input{
                padding: 15px;
                width: 300px;
                border-radius: 50px;
                background-color: rgb(32, 32, 32);
                border: 0px;
                color: white;
                letter-spacing: 1px;

            }
            input:focus{
                background-color: rgb(40, 40, 40);
                outline: 0px;
            }
        }

        #SearchIcon_mobile{
            display: none;
        }   

        #L-P-Frame{
            display: flex;
            flex-direction: row;
            width: 12%;
            justify-content: space-evenly;
            align-items: center;

            #LanguageIcon{
                height: 25px;
                cursor: pointer;
                padding: 5px;
                border-radius: 50%;
            }
            #LanguageIcon:hover{
                padding: 5px;
                background-color: rgb(100, 100, 100);
                border-radius: 50%;
                transition: 0.5s;
            }
            #ProfileIcon{
                height: 25px;
                cursor: pointer;
                border-radius: 50%;
                padding: 5px;
            }
            #ProfileIcon:hover{
                background-color: rgb(100, 100, 100);
                transition: 0.5s;
                border-radius: 50%;
                padding: 5px;
            }
            #SearchIcon_mobile_frame{   
                
                #searchMobile{
                    display: none;

                }
                #SearchIcon{
                    cursor: pointer;
                }
            }
            
        }
    }
    #divsThatDoesNotShowUntilClick{
        display: flex;
        justify-content: space-between;
        width: 100%;

        #profile{
            background-color: rgb(26, 26, 30);
            border-radius: 15px;
            width: 200px;
            height: 120px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 10px 20px;
            float: right;
            opacity: 0;
            transition: 0.3s;

            #Registration{
                background-color: rgb(36, 36, 36);
                padding: 10px ;
                border-radius: 15px;
                width: 180px;
                margin-bottom: 20px;
            }
            #Registration:hover{
                background-color: rgb(50, 50, 50);
            }

            #Log-in{
                width: 180px;
                padding: 10px; 
                border-radius: 15px;
                background-color: rgb(36, 36, 36);
            }
            #Log-in:hover{
                background-color: rgb(50, 50, 50);
            }
            div{
                b{
                    font-weight: bold;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
    }
}


@media(max-width:1024px){
    body{
        header{
            display: flex;
            justify-content: space-between;
            position: relative;
            #ListIcon{
                display: flex;
                margin-left: 3%;
            }
            

            #L-P-Frame{
                width: fit-content;
                display: flex;
                justify-content: space-around;
                width: 35%;
                margin-right: 3%;

                #LanguageIcon{
                    display: none;
                }

                #ProfileIcon{
                    display: none;
                }

                #SearchIcon_mobile_frame{  
                    width: 100%; 
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;

                    #searchMobile{
                        padding: 15px;
                        border-radius: 50px;
                        background-color: rgb(32, 32, 32);
                        width: 100%;
                        border: 0px;
                        color: white;
                        letter-spacing: 1px;
                        display: none;
                    }
                    #SearchIcon_mobile{
                        cursor: pointer;
                    }
                }

                img{
                    margin: 5px;
                }
            }
            #L-D-Frame{
                width: 128px;
                justify-content: center;

                #main_logo_a{
                    #main_logo{
                        position: absolute;
                        top: 6px;
                        left: 50%;
                        transform: translateX(-50%);
                        
                    }
                }
                
                #line{
                    display: none;
                }
            }

            #SearchIcon_mobile{
                align-items: center;
                display: flex;
                height: 30px;
                margin-right: 3%;
            }
            #items{
                display: none;
            }
            #search{
                display: none;
            }
        }
    }
}

